---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}
{% if page.callforaction %}
    <div class="row t60 b60">
        <div class="small-12 text-center columns">
            <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
{% endif %}

{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row t30">
	<div class="medium-8 columns{% if page.sidebar == NULL %} medium-offset-2 end{% endif %}{% if page.sidebar == "left" %} medium-push-4{% endif %}">
		<article itemscope itemtype="http://schema.org/Article">

      {% if page.teaser %}
      <p class="teaser" itemprop="description">
        {{ page.teaser }}
      </p>
      {% endif %}

      <div itemprop="articleSection">
      {{ content }}
      </div>
    </article>
  </div><!-- /.medium-8.columns -->
</div>
